/*
 * CSS Reset by Josh Comeau 
 *
 * More info: https://www.joshwcomeau.com/css/custom-css-reset/
 */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* Site Color Scheme */
:root {
    --color-dark-blue: rgb(0, 110, 157);
    --color-light-blue: rgb(1, 125, 167);
    --color-light-gray: #e4e4e4;
    --color-gold: rgb(248, 177, 53)
}

/* Typography */
html, .root {
    font-size: 16px;
    line-height: 24px;
}
body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
h1, .heading-size-1 {
    font-size: 3.0625em;
    line-height: 1.23076923em;
    margin-top: 0.48979592em;
    margin-bottom: 0.48979592em;
}
h2, .heading-size-2 {
    font-size: 2.4375em;
    line-height: 1.23076923em;
    margin-top: 1.23076924em;
    margin-bottom: 0.61538462em;
}
h3, .heading-size-3 {
    font-size: 1.9375em;
    line-height: 1.5483871em;
    margin-top: 0.77419355em;
    margin-bottom: 0em;
}
h4, .heading-size-4 {
    font-size: 1.5625em;
    line-height: 1.92em;
    margin-top: 0.96em;
    margin-bottom: 0em;
}
h5, .heading-size-5 {
    font-size: 1.25em;
    line-height: 1.2em;
    margin-top: 1.2em;
    margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* Links & Buttons */
a {
    color: var(--color-dark-blue);
}

/* Single Article */
#site-content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

/* Display Classes */
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}


/* Company Details Page */
.post-header {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-light-gray);
}
.post-header > img {
    max-height: 64px;
    width: auto;
    margin-right: 1.5em;
}

.post-header > h1 {
    margin-right: 2rem;
}
.post-header .ticker-tag {
    margin-left: auto;
}

.ticker-tag {
    background: var(--color-gold);
    color: #000000;
    border-radius: 0.5em;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
}

.table-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000;
    margin: 1rem 0 2rem;
}

.table-cell {
    border-bottom: 1px solid #000;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-cell:nth-child(even) {
    border-left: 1px solid #000;
}