/*
 * Stock Advisor theme css 
 *
 */

/* Site Color Scheme */
:root {
    --color-dark-blue: rgb(0, 110, 157);
    --color-light-blue: rgb(1, 125, 167);
    --color-mid-gray: #e4e4e4;
    --color-light-gray: #f8f8f8;
    --color-black: #222222;
    --color-white: #ffffff;
    --color-gold: rgb(248, 177, 53)
}

/* Typography */
html, .root {
    font-size: 16px;
    line-height: 24px;
}
body {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
h1, .heading-size-1 {
    font-size: 3.0625em;
    line-height: 1.25;
    margin-top: 0.48979592em;
    margin-bottom: 0.48979592em;
}
h2, .heading-size-2 {
    font-size: 2.4375em;
    line-height: 1.25;
    margin-top: 1.23076924em;
    margin-bottom: 0.61538462em;
}
h3, .heading-size-3 {
    font-size: 1.9375em;
    line-height: 1.3;
    margin-top: 0.77419355em;
    margin-bottom: 0em;
}
h4, .heading-size-4 {
    font-size: 1.5625em;
    line-height: 1.25;
    margin-top: 0.96em;
    margin-bottom: 0em;
}
h5, .heading-size-5 {
    font-size: 1.25em;
    line-height: 1.25;
    margin-top: 1.2em;
    margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* Links & Buttons */
a {
    color: var(--color-dark-blue);
}

/* Component Wrappers */
.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
.wrapper-sm {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

/* Site Header */
.site-header {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-mid-gray);
    margin-bottom: 3rem;
    padding: 1rem 0;
}
.site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-branding {
    max-width: 320px;
}

.primary-nav {
    width: 100%;
}
.primary-nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
}
.primary-nav .menu li {
    margin: 0 1em;
}

/* Site Footer */
.site-footer {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-mid-gray);
    padding: 2rem 0;
    margin-top: 3rem;
    text-align: center;
}

/* Single Article */
#site-content {
    background-color: var(--color-white);
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    max-width: 900px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* Display Classes */
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}


article > header {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-mid-gray);
}

.post-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post-meta {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 1rem;
}

.post-meta > *:not(:last-child) {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--color-mid-gray);
}

/* Company Details Page */
.post-header {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-mid-gray);
}
.post-header > img {
    max-height: 64px;
    width: auto;
    margin-right: 1.5em;
}

.post-header > h1 {
    margin-right: 2rem;
}
.post-header .ticker-tag {
    margin-left: auto;
}

.ticker-tag {
    background: var(--color-gold);
    color: #000000;
    border-radius: 0.5em;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
}

.table-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000;
    margin: 1rem 0 2rem;
}

.table-cell {
    border-bottom: 1px solid #000;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-cell:nth-child(even) {
    border-left: 1px solid #000;
}